<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "tapas_logo.png", class: "logo_navbar" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "HOME", "/", class: "nav-link" %>
      </li>
      <%= render 'shared/admin_add_ao' %>
      <li class="nav-item">
        <%= link_to "LISTE DES AO", posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "FAVORIS", favorites_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= render 'shared/admin_dashboard' %>
          <%= link_to "DÉCONNEXION", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
