<%= form_for @post, class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :"Titre :" , class: "col-sm-2 control-label" %>
    <%= f.text_field :title, placeholder: "Ajouter le titre l'appel d'offres" %>
  </div>
  <div class="form-group">
    <%= f.label :"Description :", class: "col-sm-2 control-label" %>
    <%= f.text_area :description, placeholder: "Ajouter sa description"  %>
  </div>
  <div class="form-group">
    <%= f.label :"Date limite de réponse :" , class: "col-sm-2 control-label" %>
    <%= f.date_field :deadline %>
  </div>
  <div class="form-group">
    <% if @post.photo.attached? %>
    <p>Un dossier est déjà joint à l'appel d'offre, vous pouvez le remplacer ci-dessous.</p>
    <% end %>
    <%= f.label :"Documents à joindre :", class: "col-sm-2 control-label" %>
    <%= f.file_field :photo %>
  </div>
  <%= f.submit 'Enregistrer', class: "btn btn-outline-primary" %>
<% end %>
