<div class="card-ao">
  <div class="container-card">
    <p class="card-date"><%= post.deadline.strftime("%d/%m/%Y") %></p>
    <div class="logos_new_favorite">
      <% if (Time.now - post.created_at <= 7.day) %>
        <i class="far fa-bell project-new animate__animated animate__swing animate__fast animate__repeat-3"></i>
      <% end %>
      <div class="card-favorite">
        <% unless current_user.favorite_posts.exists?(id: post.id) %>
          <%= link_to favorite_posts_path(post_id: post), method: :post do %>
            <i class="far fa-bookmark" style="color: #F9CA62"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_post_path(post), method: :delete do %>
            <i class="fas fa-bookmark" style="color: #F9CA62"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <h2 class="card-client"><%= post.client.truncate(50).upcase %></h2>
    <h2 class="card-title"><%= post.title.truncate(75).capitalize %></h2>
    <% if post.rich_body.present? %>
      <p class="card-description"><%= truncate(strip_tags(post.rich_body.to_s), length:100) %></p>
    <% else %>
      <p class="card-description">Pas de description.</p>
    <% end %>
  </div>

  <% if post.photo.attached? %>
    <% filename = post.photo.blob.filename.to_s %>
    <% use_cloudinary = post.photo.blob.respond_to?(:service_name) && post.photo.blob.service.name.to_s == "Cloudinary" %>

    <% if filename.ends_with?(".zip") %>
      <% if use_cloudinary %>
        <%= link_to(cloudinary_url(post.photo.key, flags: "attachment", resource_type: "raw", format: "zip"), class: "card-attachment") do %>
          <i class="fas fa-paperclip"></i>
        <% end %>
      <% else %>
        <%= link_to url_for(post.photo), class: "card-attachment" do %>
          <i class="fas fa-paperclip"></i>
        <% end %>
      <% end %>
    <% else %>
      <% if use_cloudinary %>
        <%= link_to(cloudinary_url(post.photo.key, flags: "attachment"), class: "card-attachment") do %>
          <i class="fas fa-paperclip"></i>
        <% end %>
      <% else %>
        <%= link_to url_for(post.photo), class: "card-attachment" do %>
          <i class="fas fa-paperclip"></i>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container-link">
    <%= link_to "Voir l'annonce", post_path(post), class: "card-link" %>
  </div>
</div>
