<div class="card-ao">
  <div class="container-card">
    <p class="card-date"><%= post.deadline.strftime("%d/%m/%Y") %></p>
    <div class="logos_new_favorite">
      <% if (Time.now - post.created_at <= 7.days) %>
        <i class="far fa-bell project-new"></i>
      <% end %>
      <div class="card-favorite">
        <% unless current_user.favorite_posts.exists?(id: post.id) %>
          <%= link_to favorite_posts_path(post_id: post), method: :post do %>
            <i class="far fa-bookmark" style="color: #F9CA62"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_post_path(post), method: :delete do %>
            <i class="fas fa-bookmark" style="color: #F9CA62"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <h2 class="card-client"><%= post.client.to_s.truncate(50).upcase rescue "Client" %></h2>
    <h2 class="card-title"><%= post.title.to_s.truncate(75).capitalize rescue "Titre" %></h2>
    <p class="card-description">Cliquez pour voir les détails</p>
    <% if post.photo.attached? %>
      <div class="attachment-indicator">
        <%= link_to rails_blob_path(post.photo, disposition: :attachment), title: "Télécharger la pièce jointe", class: "download-attachment-link" do %>
          <i class="fas fa-paperclip project-attachment" title="Télécharger la pièce jointe"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container-link">
    <%= link_to "Voir l'annonce", post_path(post), class: "card-link" %>
  </div>
</div>
