<div class="container">
  <h2><%= @post.title %></h2>
  <p><%= @post.description %></p>
  <p>Date limite de réponse : <%= @post.deadline %></p>
<%= link_to("Télécharger le dossier", url_for(@post.photo)) if @post.photo.attached? %>

<div>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %>
</div>
</div>

