<div class="wrapper">
  <div class="container">
    <div class="show_intro">
      <div class="show_description">
        <h2><%= @post.client %></h2>
        <h2><%= @post.title %></h2>
      </div>
      <div class="show_date">
        <p>Date limite de réponse : <%= @post.deadline.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
    <div class="show_text">
      <% if @post.rich_body.present? %>
          <p><%= @post.rich_body %></p>
        <% else %>
          <p>Pas de description.</p>
      <% end %>
    </div>
    <div class="show_link">
      <% if @post.photo.attached? %>
        <i class="fas fa-file-download"></i>
        <%= link_to(@post.photo.filename, cloudinary_url(@post.photo.key, :flags=>"attachment", :resource_type => "raw", :format => "zip", class: "download-link" )) %>
      <% else %>
        <i class="far fa-times-circle"></i><span class="no-download"> Pas de dossier à télécharger</span>
      <% end %>
    </div>
    <div class="show_text">
      <h3>Positionnement</h3>
      <%= render 'table_position' %>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>Commentaires</h3>
         <p>
           <% if @post.comments.present? %>
             <% @post.comments.each do |c| %>
               <div>
                  <small>
                    <strong><%= @user.first_name %></strong> (il y a <%= time_ago_in_words(c.created_at) %>)
                  </small>
                  <p class="mt-1 ml-4">
                    <%= c.body %>
                  </p>
                </div>
              <% end %>
            <% else %>
              Il n'y a pas encore de commentaires pour cet utilisateur.
            <% end %>
          </p>
          <%= form_for [@post, @comment] do |f| %>
            <div class="form-group">
              Vous voulez laisser un commentaire ?
              <%= f.text_area :body, class: "form-control", placeholder: "Ecrivez votre commentaire ici.", rows: 3 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <%= f.submit "Enregistrer votre commentaire", class: "btn btn-primary" %>
         <% end %>
      </div>
    </div>
    <div>
      <%= link_to "MODIFIER", edit_post_path(@post), class: "btn btn-outline-primary" if policy(Post).update? %>
      <%= link_to 'SUPPRIMER', post_path(@post), method: :delete, data: {confirm: "Vous êtes sûr?"}, class: "btn btn-outline-danger" if policy(Post).destroy? %>
    </div>
  </div>
</div>
