<div class="container">
  <h2><%= @post.client %></h2>
  <h2><%= @post.title %></h2>
  <p><%= @post.rich_body %></p>
  <p>Date limite de réponse : <%= @post.deadline.strftime("%d/%m/%Y") %></p>
  <% if @post.photo.attached? %>
  <%= link_to "Télécharger le dossier", @post.photo, download: '' if @post.photo.attached? %></li>
  <% end %>
  <nav>
    <ul>
      <li>
        <%= link_to 'MODIFIER', edit_post_path(@post), class: "nav-link" if policy(Post).update?  %>
      </li>
      <li>
        <%= link_to 'SUPPRIMER', post_path(@post), method: :delete, data: {confirm: "Euh, sûr et certain ?"}, class: "nav-link" if policy(Post).destroy? %>
      </li>
      <li>
        <%= link_to "LISTE DES AO", posts_path, id: "index_page", class: "nav-link" %>
      </li>
    </ul>
  </nav>
</div>
