<div class="wrapper">
  <div class="container">
    <%= render 'static/nav' %>
    <div class="show_intro">
      <div class="show_description">
        <h2><%= @post.client %></h2>
        <h2><%= @post.title %></h2>
      </div>
      <div class="show_date">
        <p>Date limite de réponse : <%= @post.deadline.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
    <div class="show_text">
      <% if @post.rich_body.present? %>
          <p><%= @post.rich_body %></p>
        <% else %>
          <p>Pas de description.</p>
      <% end %>
    </div>
    <div class="show_link">
      <% if @post.photo.attached? %>
        <%= link_to @post.photo.filename, rails_blob_path(@post.photo, disposition: "attachment", download:true) %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to("download", cloudinary_url(rails_blob_path(@post.photo),  :flags=>"attachment"  )) %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to @post.photo.filename, @post.photo, :flags=>"attachment", download:true %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to @post.photo.filename, @post.photo, fl_attachment: "", download:true, target: :blank %>
      <% end %>

    <% if @post.photo.attached? %>
      <%= link_to "Test 6", rails_blob_path(@post.photo, disposition: :attachment) , flags: "attachment", download:true %>
    <% end %>

      <% if @post.photo.attached? %>
        <%= link_to rails_blob_path(@post.photo, disposition: "attachment"), target: "_blank" do %>
          <i class="fas fa-file-download"></i>
        <% end %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to "Test 1", url_for(@post.photo), download: '' %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to 'Test 2', @post.photo.attachment, download: @post.photo.attachment, download:true, target: "_blank" %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to 'Test 3', @post.photo.attachment, type: 'raw', download:true, target: "_blank" %>
      <% end %>

      <% if @post.photo.attached? %>
        <%= link_to @post.photo, flags: "attachment" do %>
          <i class="fas fa-paperclip"></i><span> Test 4</span>
        <% end %>
      <% else %>
        <i class="far fa-times-circle"></i><span class="no-download"> Pas de dossier à télécharger</span>
      <% end %>
    </div>
    <div>
    <%= link_to "MODIFIER", edit_post_path(@post), class: "btn btn-outline-primary" if policy(Post).update? %>
    <%= link_to 'SUPPRIMER', post_path(@post), method: :delete, data: {confirm: "Vous êtes sûr?"}, class: "btn btn-outline-danger" if policy(Post).destroy? %>
</div>

  </div>
</div>
